body {
  font-family: "Open Sans", sans-serif;
}

.container {
  width: 85%;
  margin: 0 auto;
}

/* header */

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../media/banner.jpg");
  padding: 2em;
  height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

nav {
  background-color: #fff;
  width: 85%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .logo-container,
.navigation-links {
  display: flex;
  align-items: center;
}

nav .navigation-links {
  margin-right: 2.5em;
}

nav .company-name,
header h1,
header .subtitle,
.navigation-links li {
  text-transform: uppercase;
}

nav .company-name {
  font-size: 2rem;
  color: #ea513e;
  font-weight: 700;
  margin-left: 1em;
}

.navigation-links li {
  color: #6f6f6f;
  font-size: 1.05rem;
  margin-left: 1.5em;
  font-weight: 500;
}

header .main-lockup {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 50%;
}

header h1 {
  color: #fff;
  font-size: 2.5rem;
  font-weight: 700;
  display: inline-block;
  border-bottom: 2px solid #fff;
  padding-bottom: 5px;
  text-align: center;
}

header .subtitle {
  color: #fff;
  font-weight: 500;
  font-size: 1.15rem;
  margin: 1em 0;
  text-align: center;
}

.header-btn {
  background-color: #ea513e;
  color: #fff;
  text-transform: uppercase;
  padding: 1em 1.5em;
  margin: 1em 0;
  border-radius: 0.25em;
}
